* {
  outline: none;
  box-sizing: border-box;
}

body,
html {
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
  -webkit-overflow-scrolling: auto;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  margin-left: auto;
  margin-right: auto;
  // @include minscreenw(992px) {
  //   width: 100%;
  // }
  @include maxscreenw(1024px) {
    width: 100%;
  }
  // @include minscreenw(1366px) {
  //   width: 1024px;
  // }
}

a {
  cursor: pointer;
  outline: 0;
  text-decoration: none;
}
