@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i&display=swap&subset=vietnamese');
// main font of website
$site-font-1: 'Open Sans', sans-serif;
$site-font-2: 'Open Sans', sans-serif;
$site-font-3: 'Open Sans', sans-serif;
// main color of website
$site-color-1: #3094B4;
$site-color-2: #D0E9F1;
$site-color-3: #59C2D1;

$primary: #3094B4;
$secondary: #6c757d;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;

$bg_footer:  #084C6C;
