.owl-carousel {
  .owl-nav {
    pointer-events: none;
    transition: all 0.3s;
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;

    .owl-next,
    .owl-prev {
      position: absolute;
      height: 40px;
      margin-top: -20px;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
      pointer-events: auto;
      font-size: 0;
      color: #c5c5c5;
    //  background-position: center;
    //  background-repeat: no-repeat;
    //  background-color: $secondary;
    //  border-radius: 50%;
    //  background-position: center center;
      //background-size: 50% auto;

      &:hover {
        opacity: .8;
      }
    }

    .owl-prev {
      left: 0;
      font-family: 'Material-Design-Iconic-Font';
      &:before{
        content: '\f2fa';
        font-size: 60px;
      }
    }

    .owl-next {
      right: 0;
      font-family: 'Material-Design-Iconic-Font';
       &:before{
         content: '\f2fb';
         font-size: 60px;
       }
    }
  }

  &:hover {
    .owl-nav {
      opacity: 1;
    }
  }

  .owl-dots {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 3;
    pointer-events: none;
    z-index: 2;

    .owl-dot {
      display: inline-block;
      margin-left: 8px;

      span {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #59C2D1;
        margin: 0.3rem;
        display: inline-block;
        // opacity: 0.8;
        pointer-events: auto;
      }

      &.active {
        span {
          background-color: #ACE0E8;
        }
      }
    }
  }
}

.mybtn {
  text-transform: uppercase;
  text-align: center;
  padding: 6px 16px;
  font-size: 16px;
  background-color: $primary;
  color: #fff;
  text-decoration: none !important;
  border: none;
  display: inline-block;
  transition: all 0.3s;
  font-weight: normal;
  outline: none !important;
  border-radius: 6px;
  font-weight: 600;

  & + .mybtn {
    margin-left: 12px;
  }

  &.grey{
    background-color: #EEF0F0 !important;
    color: #000 !important;
    border: none !important;

    &:hover{
      color: #000 !important;
    }
  }
  @include mydevice(mobile) {
    font-size: 14px;
  }
  @include mydevice(phone) {}

  &:hover {
    background-color: $secondary;
    color: #fff !important;
    border-color: #444;
  }
}

.myradio {
  $h: 14px;
  $h2: 10px;
  display: inline-block;
  position: relative;
  padding-left: $h + 12;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: normal;

  & + .myradio {
    margin-left: $h * 2;
    @include mydevice(phone) {
      margin-left: 0;
      display: block;
    }
  }

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  .checkmark {
    position: absolute;
    top: 50%;
    left: 0;
    height: $h;
    width: $h;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-top: - $h / 2;
    border-radius: 100px;

    &::after {
      content: "";
      position: absolute;
      display: none;
      top: ($h - $h2 - 2) / 2;
      left: ($h - $h2 - 2) / 2;
      width: $h2;
      height: $h2;
      border-radius: 50%;
      background: $primary;
    }
  }

  input:checked ~ .checkmark {
    border-color: $primary;
  }

  input:checked ~ .checkmark::after {
    display: block;
  }
}
/**
<div class="form-group">
  <label class="myradio">
    <input type="radio" name="Title" value="Mr" id="rdo1" checked>
    <span class="checkmark"></span>
    <span class="rdotext1">Mr</span>
  </label>

  <label class="myradio">
    <input type="radio" name="Title" value="Ms">
    <span class="checkmark"></span>
    <span class="rdotext1">Ms</span>
  </label>
</div>
**/
.myradio2 {
  $h: 14px;
  $h2: 10px;
  display: inline-block;
  position: relative;
  padding-left: $h + 12;
  padding-left: 0;
  padding-right: 8px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: normal;
  margin-bottom: 0;

  & + .myradio {
    margin-left: $h * 2;
    @include mydevice(phone) {
      margin-left: 0;
      display: block;
    }
  }

  .rdotext {
    border: 1px solid #eee;
    width: 32px;
    height: 32px;
    overflow: hidden;
    text-align: center;
    line-height: 30px;
    border-radius: 100px;
    display: inline-block;
    font-weight: normal;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0;
    position: relative;
  }
  $sp: 1px;

  .rdocolor {
    position: absolute;
    top: $sp;
    left: $sp;
    right: $sp;
    bottom: $sp;
    display: inline-block;
    border-radius: 100px;
  }

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  input:checked ~ .rdotext {
    border: 1px solid $primary;
  }
}

.myradio4 {
  $h: 14px;
  $h2: 10px;
  margin-bottom: 0;
  display: block;
  position: relative;
  padding-left: $h + 12;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: normal;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  .checkmark {
    position: absolute;
    top: 50%;
    left: 0;
    height: $h;
    width: $h;
    background-color: #fff;
    border: 1px solid #ddd;
    // border-radius: 50%;
    margin-top: - $h / 2;

    &::after {
      content: "";
      position: absolute;
      display: none;
      left: ($h - $h2 - 2) / 2;
      top: 2px;
      width: $h2 - 1;
      height: $h2 - 4;
      border-left: 2px solid;
      border-bottom: 2px solid;
      -webkit-transform: rotate(-50deg);
      -ms-transform: rotate(-50deg);
      transform: rotate(-50deg);
      border-color: $primary;
    }
  }

  input:checked ~ .checkmark {
    border-color: $primary;
  }

  input:checked ~ .checkmark::after {
    display: block;
  }
}

.breadcrumb {
  background-color: transparent;
  margin-bottom: 0;
  color: #a9a9a9;
  text-transform: uppercase;
  margin-top: 2em;
  font-size: 0.8em;
  padding: 0;
  letter-spacing: 1px;

  i {
    font-size: 1.3em;
    position: relative;
    top: 2px;
  }

  a {
    color: #a9a9a9;
  }

  li+li:before {
    content: "\203A";
    font-size: 1.5em;
    margin-left: 8px;
    margin-right: 8px;
    padding: 0;
  }
}

.pagination {
  display: block;
  margin: 0;
  padding: 0;
  text-align: center;
  margin-top: 1em;

  &.tar {
    text-align: right;
  }

  li {
    display: inline-block;
    color: $secondary;
    font-size: 1em;
    height: 33px;
    cursor: pointer;

    a {
      color: $secondary;
      border-radius: 0 !important;
      border: none;
      background: none;
      line-height: 33px;

      i {
        font-size: 1.4em;
        line-height: 34px;
      }

      &:focus,
      &:hover {
        background: none !important;
      }
    }

    &.active,
    &:hover {
      a {
        color: $primary !important;
        background: none !important;
      }
    }
  }
}
//css button to top

.button_scroll2top {
  display: none;
  position: fixed;
  bottom: 15px;
  right: 30px;
  height: 46px;
  width: 46px;
  z-index: 4;
  cursor: pointer;
  border-radius: 50%;
  background-color: #fff;
  background-image: url("../images/top.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 42% auto;
  -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.5);
-moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.5);
box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.5);
  @include mydevice(mobile) {
    right: 10px;
    bottom: 10px;
    width: 30px;
    height: 30px;
  }
}

.gallery-2 {
  padding: 0 60px;
}

.gallery-3 {
  padding: 0 60px;
}

.form-group {
  input::-webkit-input-placeholder,
  select::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder {
    color: #8b8b8b;
  }

  .err {
    font-weight: normal;
    position: absolute;
    // bottom: 8px;
    color: $site-color-3;
    font-style: italic;
    font-size: 0.8em;
    margin: 0;
  }

  .form-control {
    font-size: 13px;
    border-radius: 0 !important;
    height: 38px;
    padding-left: 12px;
    padding-right: 12px;
    border: none;
    background-color: #fff;
    border: none;
    border: 1px solid #eee;
    box-shadow: none;

    &.full {
      width: 100%;
    }
  }

  textarea.form-control {
    resize: none;
    overflow-y: auto;
    height: 112px;
    padding-top: 10px;
    @include mydevice(mobile) {
      -webkit-overflow-scrolling: touch;
    }
  }

  select {
    color: #8b8b8b;
    padding-left: 11px !important;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-image: url("../images/bg_select_img.png");
    background-repeat: no-repeat;
    background-position: center right;

    option {
      padding: 0;
      margin: 0;
    }
  }
}

.tool_sort_pro {
  margin-bottom: 4em;

  .form-control {
    background-color: #fff;
    border: 1px solid #f1f1f1;
  }

  .row {
    @include mydevice(mobile) {
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;

      > * {
        &:nth-child(2) {
          width: 100%;
        }

        &:nth-child(2) {
          width: 300px;
        }
      }

      &::after,
      &::before {
        display: none;
      }

      .cols1,
      .cols2 {
        width: auto;
      }
    }
    @include mydevice(phone) {
      flex-wrap: wrap;

      > * {
        &:nth-child(2) {
          width: 100%;
        }

        &:nth-child(2) {
          width: 100%;
        }
      }
    }
  }

  .cols1 {
    &__search {
      position: relative;
      margin-bottom: 2em;

      .form-control {
        width: 100%;
        box-shadow: none;
        font-size: 13px;
      }

      .btn_search {
        border: none;
        background-color: transparent;
        text-decoration: none;
        position: absolute;
        top: 0;
        padding: 8px 10px;
        right: 0;

        i {
          font-size: 1.5em;
          color: #666;
        }
      }
    }
  }

  .cols2 {
    text-align: right;

    .txt {
      margin-right: 8px;
    }

    .form-control {
      width: auto;
      display: inline-block;
      width: 200px;
      max-width: 100%;
      border-radius: 0;
    }
    @include mydevice(phone) {
      text-align: left;
      margin-top: 1em;
      display: flex;
      // grid-template-columns: auto 1fr;
      align-items: center;

      > * {
        &:nth-child(2) {
          width: 100%;
        }
      }

      .form-group {
        margin-bottom: 0;
      }

      .form-control {
        width: 100%;
      }
    }
  }

  .filter_text_selected {
    .txt {
      display: inline-block;
      background-color: #f6f6f6;
      font-size: 0.9em;
      padding: 4px 8px;
      margin-right: 4px;
      position: relative;
      white-space: nowrap;
      margin-bottom: 1em;
      top: 1px;

      .del_txt {
        cursor: pointer;
        width: 24px;
        margin-left: 12px;
        font-size: 1.2em;
        color: #666;
        text-align: center;
        display: inline-block;
      }
    }

    .del_all_txt {
      margin-bottom: 1em;
      white-space: nowrap;
      cursor: pointer;
      font-size: 0.8em;
      padding: 4px 0;
      margin-left: 8px;
      display: none;
      text-decoration: underline;
    }

    .txt + .del_all_txt {
      display: inline-block;
    }
    @include mydevice(phone) {
      display: block;
    }
  }
}

.filter_tool {
  --pd-left-tool-filter: 0.5em;

  .btn_gr,
  .open_filter_tool {
    display: none;
  }
  @include mydevice(mobile) {
    --pd-left-tool-filter: 1.5em;

    .filter_tool__inner {
      visibility: hidden;
      position: fixed;
      display: block;
      top: 0;
      bottom: 0;
      height: 100vh;
      width: 100vw;
      left: -120vw;
      overflow: auto;
      background-color: #fff;
      z-index: 3;
      padding: 1em;
      -webkit-overflow-scrolling: touch;
      padding-bottom: 100px;

    }

    .open_filter_tool {
      visibility: visible;
      display: block;
      position: fixed;
      z-index: 1;
      top: 30%;
      right: 0;
      background-color: rgba(0,0,0,.5);
      color: #fff;
      border-radius: 10px 0 0 10px;
      padding: 10px 5px;
      font-size: 0.9em;
      cursor: pointer;

      span {
        display: block;
        text-align: center;

        i {
          font-size: 1.2em;
        }
      }
    }

    &.active {
      .filter_tool__inner {
        visibility: visible;
        left: 0;
        z-index: 7;
      }

      .open_filter_tool {
        visibility: hidden;
      }

      .btn_gr {
        visibility: visible;
      }
    }

    .btn_gr {
      // display: grid;
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      // grid-template-columns: 1fr 1fr;
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 2;

      .mybtn+.mybtn {
        margin-left: 0;
      }

      .mybtn {
        border: none;
        padding-top: 0.7em;
        padding-bottom: 0.7em;
        transition: 0s;
        width: 50%;

        &:first-child {
          background-color: #666;
        }
      }
    }
  }

  .filter_tool__item + .filter_tool__item {
    margin-top: 2em;
    @include mydevice(phone) {
      margin-top: 1em;
    }
  }

  .group_chk__tool {
    &__item {
      border-bottom: 1px solid #eee;
      color: #8d8d8d;
      text-transform: uppercase; // padding: 1em 0;

      label {
        padding-top: 1em;
        padding-bottom: 1em;
      }

      .item_chk {
        margin-bottom: 0;
      }

      &:last-child {
        border-bottom: none;
      }
    }
  }

  .accordion_tool {
    padding: 0.5em 0 0.5em var(--pd-left-tool-filter);

    .panel {
      border: none;
      box-shadow: none;
      margin-bottom: 0;

      &:last-child {
        .panel-body {
          border-top: 1px solid #eee !important;
        }

        .accordion_tool__title {
          border-bottom: none !important;
        }
      }
    }

    &__title {
      position: relative;
      padding: 0;
      // display: grid;
      // grid-template-columns: 30px 1fr;
      border-bottom: 1px solid #eee !important;
      padding-top: 1.3em;
      padding-bottom: 1.3em;
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;

      > * {
        &:nth-child(1) {
          width: 30px;
        }
      }

      &.active,
      &.ui-accordion-header-active {
        a {
          &::after {
            content: "-" !important;
          }
        }
      }

      a {
        text-decoration: none;
        line-height: 20px;

        &::after {
          content: "+";
          position: absolute;
          //top: 50%;
          //margin-top: -3px;
          right: 0.8rem;
          font-weight: 300;
          font-size: 1.6em;
          line-height: 0;
          color: #777;
          z-index: 0;
          top: 0;
          display: -webkit-flex;
          display: -ms-flex;
          display: flex;
          align-items: center;
          height: 100%;
        }

        &[aria-expanded="true"] {
          &::after {
            content: "-";
          }
        }
      }
    }

    &__header {
      font-size: 1.1em;
      text-transform: uppercase;
      font-weight: normal;
      margin: 0;
      padding: 0;
      pointer-events: auto;
      position: relative;
      z-index: 1;

      a {
        display: block;
      }
    }

    &__chk {
      top: -1px;

      .item_chk {
        label {
          text-transform: uppercase;
        }
      }
    }

    &__body {
      .panel-body {
        border: none !important;
        padding: 1.6em 1em 0;
      }

      .item_chk {
        margin-bottom: 1.4em;
      }
    }
  }

  &__title {
    font-weight: normal;
    font-size: 1.2em;
    // padding: 1em 0;
    padding-bottom: 1em;
    color: #505050;
    font-weight: 700;
  }

  .sukien_lich {
    background-color: #F5F5F5;
    padding: 8px;
  }
}

.panel-group.panel-group-style2 {
  .panel {
    box-shadow: none;
    border-radius: 0;
    border: 0;

    +.panel {
      margin-top: 1px;
    }

    &-heading {
      position: relative;
      background-color: #000;
      padding: 0;
      border-radius: 0;
    }

    &-title {
      color: #fff;
      font-size: 14px;
      font-weight: bold;
      text-transform: uppercase;
      padding: 12px 24px;

      &:after {
        height: 100%;
        width: 40px;
        text-align: center;
        display: inline-block;
        position: absolute;
        right: 0;
        top: 0;
        font-size: 20px;
        font-weight: bold;
        line-height: 42px;
      }

      &[aria-expanded="false"] {
        &:after {
          content: "+";
        }
      }

      &[aria-expanded="true"] {
        &:after {
          content: "-";
        }
      }
    }

    &-body {
      border: none;
      border-top: 0 !important;
      padding: 0;
    }
  }
}

.motasanpham {
  .nav-tabs {
    border-bottom: none;
    border-bottom: 1px solid #ccc;

    li {
      float: none;
      display: inline-block;
      border-bottom: 2px solid transparent;

      + li {
        margin-left: 6px;
      }

      a {
        border: 0 !important;
        background-color: #fff;
        color: #333;
        margin: 0;
        border-radius: 0;
        margin-bottom: 1px;
      }

      &.active {
        border-bottom-color: $primary;

        a {
          color: $primary;
        }
      }
    }
  }
}
.gallery_news_event_2 {
  padding-bottom: 30px;
  margin-top: 30px;
}


.gallery_tailieu, .gallery_album_tailieu{
  padding-bottom: 50px;
}

.owl_coltrol_black{
  padding-left: 36px;
  padding-right: 36px;
  .owl-prev, .owl-next{
    color: #485057 !important;
  }
}
.gallery_hethong {
  @extend .owl_coltrol_black;
}

.gallery_news_event {
  @extend .owl_coltrol_black;
}
