#section_homepage{
  .section_4{
    .owl-dots{
      bottom: -24px;
      @include mydevice (phone){
        bottom: -12px;
      }
    }
  }
}
.list_news {
  display: flex;
  flex-wrap: wrap;

  a:not(.mybtn) {
    text-decoration: none;
    outline: none;
    color: $secondary;
  }

  .owl-carousel {
    .item {
      width: 100% !important;
      padding: 0;

      &__txt {

      }
    }
  }

  .item {
    width: 33.33%;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 36px;
    @include mydevice(mobile) {
      width: 50%;
    }
    @include mydevice(phone) {
      width: 100%;
    }

    &__inner {
      display: block;
      background: #f3f3f3;
      //border: 1px solid #A6A8AA;
      height: 100%;
    }

    &__img {
      overflow: hidden;

      img {
        width: 100%;
        transition: all 0.3s;
      }
    }

    &__txt {
      padding: 1em;

      &__1 {
        padding: 0;
        margin: 0;
        font-size: 1.1em;
        color: #000;
        line-height: 1.4;
        min-height: 42px;
        font-weight: 600;
      }

      &__2 {
        margin-top: 16px;
        line-height: 1.6;

        a {
          color: $primary;
        }

        p {
          margin: 0;
          padding: 0;
        }
      }

      &__3 {
        margin-top: 16px;
        .mybtn{
          &:after{
            content: "\f301";
            padding-left: 5px;
            font: normal normal normal 14px/1 'Material-Design-Iconic-Font';
            font-size: 16px;
            color: #fff;
          }
        }
      }

      &__4 {
        color: #7F8181;
        text-transform: uppercase;
        margin-bottom: 16px;
      }
    }

    &:hover {
      .item__img {
        img {
          transform: scale(1.03);
        }
      }
    }
  }

  &__list {
    display: block;

    .item {
      margin-bottom: 2em;
      display: block;
      width: 100% !important;
      padding-left: 0;
      padding-right: 0;

      &__inner {
        display: flex;
        border: none;
      }
      $ws: 30%;

      &__img {
        width: $ws;
      }

      &__txt {
        padding: 0 0 0 24px;
        width: 100% - $ws;

        &__3 {
          border-top: none;
          margin-top: 8px;
          padding-top: 0;
          margin-bottom: 16px;
          display: block;
        }

        &__1 {
          padding-top: 0;
          margin-top: 0;
        }

        &__4 {
          margin-top: 16px;
          color: $primary;
          font-size: 1.1em;

          .icon {
            position: relative;
            top: 3px;
            font-size: 1.3em;
            margin-left: 4px;
          }
        }
      }
    }
  }

  &__list__sm {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;

    .item {
      margin-bottom: 2em;
      width: 31%;
      margin: 1%;
      padding-left: 0;
      padding-right: 0;
      @include mydevice(mobile) {
        width: 100%;
        margin: 0 0 2em;
      }

      &__inner {
        display: flex;
        border: none;
      }
      $ws: 30%;

      &__img {
        width: $ws;
      }

      &__txt {
        padding: 0 0 0 24px;
        width: 100% - $ws;

        &__3 {
          border-top: none;
          margin-top: 8px;
          padding-top: 0;
          margin-bottom: 16px;
          display: block;
        }

        &__1 {
          padding-top: 0;
          margin-top: 0;
        }

        &__4 {
          margin-top: 16px;
          color: $primary;
          font-size: 1.1em;

          .icon {
            position: relative;
            top: 3px;
            font-size: 1.3em;
            margin-left: 4px;
          }
        }
      }
    }
  }

  &.diendan {
    display: block;
    margin-top: 4em;

    .item {
      margin-bottom: 2em;
      display: block;
      width: 100% !important;
      font-size: 1.4em;
      @include mydevice(mobile) {
        font-size: 1em;
      }

      &__inner {
        display: flex;
        border: none;
      }
      $ws: 40%;

      &__img {
        width: $ws;

        .txt_date {
          background-color: #59C2D1;
          color: #fff;
          padding: 8px 24px;
          display: inline-block;
          text-align: center;
          // width: 90px;
          // height: 86px;
          position: relative;
          z-index: 1;
          // top: -50%;
          margin-top: -50px;

          &__1 {
            font-size: 2em;
            font-weight: 600;
            line-height: 1;
          }
        }
      }

      &__txt {
        padding: 0;
        width: 100% - $ws;
        padding-left: 3%;
        padding-right: 3%;
        padding-bottom: 3%;

        &__1 {
          padding-top: 0;
          margin-top: 0;
          font-weight: 600;
        }

        &__2 {
          color: #444;
        }

        &__3 {
          font-size: 1.1em;
          color: #999999;

          .icon {
            margin-right: 6px;
          }

          .sp {
            &+ .sp {
              &:before {
                content: '|';
                // border-left: 1px solid #999999;
              }
            }
          }
        }
      }
    }
  }

  &.blog {
    .item {
      margin-bottom: 3em;

      &__inner {
        display: block;
      }

      &__img {
        width: 100%;
      }

      &__txt {
        width: 100%;
        padding-top: 24px;

        &__2 {
          min-height: auto;
        }
      }
    }
  }
}

.list_product {
  display: flex;
  margin-left: -16px;
  margin-right: -16px;
  flex-wrap: wrap;

  a:not(.mybtn) {
    text-decoration: none;
    outline: none;
    color: $secondary;

    &:hover {}
  }

  .item {
    width: 33.33%;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 36px;
    // &:nth-child(n-3){
    //   margin-bottom: 0;
    // }
    @include mydevice(tablet) {
      width: 50%;
      margin-bottom: 24px;
    }
    @include mydevice(phone) {
      width: 100%;
      margin-bottom: 24px;
    }

    .sale {
      background-color: $primary;
      position: absolute;
      left: 0;
      top: -17px;
      color: #fff;
      font-weight: 700;
      font-size: 13px;
      padding: 0 15px;
      line-height: 30px;
      min-height: 0;
      min-width: 0;
      z-index: 2;
      cursor: default;
      border-radius: 30px;
      box-shadow: 0 2px 5px 1px rgba(0,0,0,.2);
      border: 2px solid #fff;
      white-space: nowrap;

      &:before {
        content: "";
        position: absolute;
        bottom: -7px;
        left: 50%;
        margin-left: -9px;
        width: 0;
        height: 0;
        border: 5px solid transparent;
        border-color: transparent transparent $primary $primary;
        transform-origin: 0 0;
        transform: rotate(-45deg);
        z-index: 2;
      }

      &::after {
        content: "";
        position: absolute;
        bottom: -10px;
        left: 50%;
        margin-left: -9px;
        width: 0;
        height: 0;
        border: 5px solid #000;
        border-color: transparent transparent #fff #fff;
        transform-origin: 0 0;
        transform: rotate(-45deg);
        box-shadow: -5px 4px 5px -2px rgba(0,0,0,.15);
        z-index: 1;
      }
    }

    a {
      color: $secondary;
    }

    &__img {
      overflow: hidden;

      img {
        width: 100%;
        transition: all 0.3s;
      }
    }

    &__txt {
      box-shadow: 0 3px 13px 1px rgba(0,0,0,.12);
      background-color: #fff;
      border: 1px solid #eee;
      transition: all 0.3s;

      .item__txt__inner {
        padding: 1.5em;
      }

      &__1 {
        padding: 0;
        margin: 0;
        font-size: 1.1em;
        margin-bottom: 12px;
        font-weight: 700;

        a {
          color: #505050;
        }
      }

      &__2 {
        font-size: 12px;
        font-weight: 300;
        text-transform: uppercase;
        color: #8d8d8d;
      }

      &__3 {
        font-size: 1.2em;
        margin-top: 16px;

        .p1 {
          color: #ccc;
          text-decoration: line-through;
          margin-right: 12px;
        }

        .p2 {
          font-weight: 600;
          font-size: 1.1em;
        }
      }
    }

    &__inner {
      transition: all 0.3s;
      position: relative;
      top: 0;
    }

    .btn_gr {
      border-top: 1px solid #eee;
      text-transform: uppercase;
      padding: 1.1em 1.5em;
      font-weight: 600;
      color: #8d8d8d;

      .txt {
        margin-right: 4px;
        font-size: 13px;
      }

      .icon {
        font-size: 1.2em;
        position: relative;
        top: 2px;
      }
    }

    &:hover {
      .item__txt {
        box-shadow: none;
      }

      .item__inner {
        transition: all 0.2s;
        position: relative;
        top: 2px;
      }
    }
  }
}

.page_dichvu {}

.page_tintuc {
  position: relative;
  .section_tintuc_1{
    padding-top: 80px;
    @include mydevice (mobile){
      padding-top: 60px;
    }
  }
  .section_countdown{
    position: absolute;
    top: -90px;
    right: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 3;
    .flipdown{
      display: flex;
      justify-content: center;
    }
    @include mydevice (tablet){
      top: -15px!important;
      padding-bottom: 0;
      //right: 12%!important;
    }
    @include mydevice (phone){
      top: -12px !important;
      padding-bottom: 0;
      //right: 10% !important;
    }

    .rotor-group{
      &:nth-child(3){
        &:before{
          display: none;
        }
        &:after{
          display: none;
        }
      }
      &:last-child{
        display: none;
      }
      @include mydevice (mobile){
        padding-right: 10px !important;
        &:before,&:after{
          width: 6px !important;
          height: 6px !important;
          left: 65px !important;
        }
      }
      &:before{
        border-radius: 0 !important;
        background: #e01b1b !important;
      }
      &:after{
        border-radius: 0 !important;
        background: #e01b1b !important;
      }
    }
    .rotor-group-heading{
      text-transform: uppercase !important;
      color: #fff !important;
      &:before{
        color: #fff !important;
        font-size: 20px !important;
        @include mydevice (mobile){
          font-size: 13px !important;
          color: #000 !important;
        }
      }
    }
    .rotor{
      &:after{
        border-color: #e01b1b !important;
      }
      .rotor-top{
        background: #e01b1b !important;
      }
      .rotor-bottom{
        background: #e01b1b !important;
      }
      .rotor-leaf{
        .rotor-leaf-rear{
          background: #e01b1b !important;
        }
        .rotor-leaf-front{
          background: #e01b1b !important;
        }
      }
    }
  }
  .cols001,
  .cols002 {
    @include mydevice(mobile) {
      width: 100%;
    }
  }
}

.page_lienhe {
  .bando {
    margin-top: 3em;

    &__lienhe {
      width: 100%;
      height: 500px;
    }
  }

  .cols1 {
    .cols__inner {
      padding-right: 4em;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        right: 1em;
        top: 0;
        bottom: 0;
        width: 1px;
        display: inline-block;
        background-color: #ccc;
        background: linear-gradient(to bottom, transparent, #e5e5e5, #e5e5e5, #e5e5e5, transparent);
        @include mydevice(mobile) {
          display: none;
        }
      }
      @include mydevice(mobile) {
        padding: 0;
      }
    }

    &__tt {
      font-size: 1.2em;
      font-weight: 600;
      margin-bottom: 24px;
      text-transform: uppercase;
    }

    .form-group {
      .mybtn {
        min-width: 100px;
      }

      .note {
        font-style: italic;
        font-size: 0.9em;
      }
    }
  }

  .list_chinhanh {
    .item {
      margin-bottom: 16px;

      &__txt {
        &_2 {
          font-size: 14px;

          p {
            margin-bottom: 0.3em;
          }

          a {
            text-decoration: none !important;
            color: #000;
          }
        }
      }
    }
  }
}

.page_tintuc {
  .cols001 {
    width: 70%;
    position: relative;

    .col__inner {
      padding-right: 5%;
      @include mydevice(mobile) {
        padding-right: 0;
      }
    }
  }

  .cols002 {
    width: 30%;
  }

  .cols001,
  .cols002 {
    @include mydevice(mobile) {
      width: 100%;
    }
  }

  .col__tt {
    padding: 0;
    font-size: 1.4em;
    margin: 0;
    color: #3094B4;
    font-weight: 400;
    padding-top: 16px;
    padding-bottom: 8px;
    border-bottom: 1px solid #eee;

    &_2 {
      color: $site-color-1;
      margin-bottom: 16px;
    }
    @include mydevice(mobile) {
      font-size: 16px;
    }
  }

  .col_item {
    &:nth-child(n+2) {
      margin-top: 36px;
    }
  }
  .input_baiviet{
    .col__tt{
      border-bottom: 0;
      color: #3094B4;
    }
    .txtDesc{
      width: 100%;
    }
    .btn{
      background-color: #3094B4;
      padding: 5px 20px;
      margin-top: 10px;
      border-radius: 0;
      a{
        text-decoration: none;
        color: #fff;
      }
    }
  }
  .blog-display{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    @include mydevice (mobile){
      grid-template-columns: 1fr;
    }
    .item__inner{
      background-color: #fff;
      position: relative;
    }
    .item__img{
      width: 60%;
      padding-bottom: 3%;
      @media only screen and (max-width: 550px){
        width: 40%;
      }
      .txt_date{
        position: absolute;
        bottom: 0;
        left: 0;
        border-radius: 5px;
        padding: 8px 20px;
        &__1{
          font-size: 20px;
        }
        &__2{
          font-size: 16px;
        }
      }
      img{
        height: 100%;
      }
    }
    .item{
      &__txt{
        &__1{
          font-size: 18px;
        }
        &__2{
          font-size: 13px;
        }
        &__3{
          font-size: 14px;
        }
      }
    }
  }
  .other_news {
    &__body {
      .list_news__list{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
        @media only screen and (max-width: 550px){
          grid-template-columns: 1fr;
        }
        .item__inner{
          background-color: #fff;
        }
        .item__img{
          width: 30%;
          img{
            height: 100%;
          }
        }
      }
      // .list_news {
      //   display: block;
      //   @include mydevice(tablet) {
      //     display: block;
      //   }
      //   .item {
      //     &__txt {
      //       padding-left: 12px;
      //
      //       &__1 {
      //         font-size: 0.9em;
      //       }
      //
      //       &__3 {
      //         margin-bottom: 0;
      //       }
      //     }
      //   }
      // }
    }
  }
}

.page_chitiettintuc {
  @extend .page_tintuc;
  .list_news__list__sm{
    .item__img{
      width: 30%;
      img{
        height: 100%;
      }
    }
    .item__inner{
      background-color: #fff;
    }
  }
  .cols001 {
    .col__inner {
      padding-left: 70px;
      @include mydevice(mobile) {
        // padding-left: 0;
        padding-left: 40px;
      }
    }
  }
  .section_binhluan{
    .share_body{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      .care_part{
        position: relative;
        .btn-care{
          display: flex;
          align-items: center;
          position: relative;
          text-decoration: none;
          color: #3094B4;
          font-size: 13px;
          font-weight: bold;
          background: #EAEAEA;
          padding: 5px 20px;
          border-radius: 10px;
          i{
            color: #3094B4;
            margin-right: 5px;
            font-size: 20px;
          }
        }
        .tag{
          position: absolute;
          top: 2px;
          right: -50px;
          .number{
            font-size: 12px;
            position: relative;
            padding: 5px 10px;
            background: #EAEAEA;
          }
          .triangle{
            position: absolute;
            left: -7px;
            top: 4px;
            width: 0;
            height: 0;
            z-index: -1;
            border-top: 10px solid transparent;
            border-right: 20px solid #EAEAEA;
            border-bottom: 10px solid transparent;
          }
        }
      }
    }
    .list_comment_body{
      margin-top: 20px;
      .header_list{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background-color: #EAEAEA;
        padding: 5px 10px;
        .title{
          p{
            color: #3094B4;
            margin: 0;
            font-weight: bold;
            font-size: 13px;
          }
        }
        .tag_filter{
          .filter{
            text-decoration: none;
            color: #000;
            font-size: 13px;
            &:nth-child(1){
              border-right: 1px solid #000;
              padding-right: 10px;
              margin-right: 10px;
            }
            &.active{
              color: #3094B4;
            }
          }
        }
      }
      .list_items{
        .display{
          transition: ease-in-out 0.5s;
          &.active{
            overflow: hidden;
            max-height: 600px;
            transition: ease-in-out 0.5s;
          }
        }
        .item{
          padding: 10px 15px;
          .content{
            p{
              text-align: justify;
            }
          }
          .section_interaction{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            .author{
              display: flex;
              flex-direction: row;
              align-items: center;
              span{
                margin-right: 5px !important;
              }
              .sign{
                height: 32px;
                width: 32px;
                margin: 0;
                color: #fff;
                font-weight: bold;
                background: #c2c2c2;
                display: block;
                line-height: 32px;
                text-align: center;
                border-radius: 50%;
                font-size: 16px;
              }
              .txtName{
                font-weight: bold;
              }
            }
            .interact{
              a{
                text-decoration: none;
                padding-right: 10px;
                padding-left: 8px;
                border-right: 1px solid #000;
                &:first-child{
                  i{
                    color: #3094B4;
                    padding-right: 10px;
                  }
                  span{
                    padding-right: 10px;
                    color: #000;
                  }
                }
                &:last-child{
                  border-right: none;
                  padding: 0;
                  padding-left: 8px;
                }
              }

            }
          }
          .see_more{
            text-align: right;
            font-size: 13px;
            text-decoration: underline;
          }
          &:nth-child(even){
            background: #F8F8F8;
          }
        }
        .load-more{
          text-align: center;
          padding-top: 30px;
          .btn-loadmore{
            position: relative;
            padding: 10px 20px;
            font-size: 13px;
            color: #000;
            text-decoration: none;
            background: #EAEAEA;
          }
          .line{
            position: absolute;
            top: 50%;
            left: -310px;
            z-index: -1;
            width: 700px;
            height: 1px;
            background: #EAEAEA;
          }
        }
      }

    }
    .section_comment{
      text-align: center;
      margin: 40px 20% 0;
      @include mydevice (mobile){
        margin: 40px 10px 0;
      }
      .box-comment{
        background: #F5F5F5;
        padding: 10px;
        .input-content{
          position: relative;
          a{
            position: absolute;
            top: 3px;
            right: 6px;
            i{
              color: #c2c2c2;
            }
          }
        }
        .txtDesc{
          width: 100%;
        }
        .noted{
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          @include mydevice(mobile) {
            flex-wrap: wrap;
            text-align: center;
          }
          .submit{
            @include mydevice (mobile){
              padding-top: 10px;
              width: 100%;
            }
          }
          .btn-submit{
            background: #0099CC;
            border: 0;
            color: #fff;
            font-size: 13px;
            font-weight: bold;
            padding: 8px 25px;
          }
        }
      }
    }
  }
  .detail_news__tt {
    margin: 0;
    padding: 0;
    font-size: 2.6em;
    font-weight: 600;
    @include mydevice(mobile) {
      font-size: 20px;
    }
  }

  .link_social {
    position: fixed;
    text-align: center;
    margin-left: -70px;
    width: 50px;
    padding-top: 6px;
    margin-top: -6px;
    // z-index: 4;
    @include mydevice(mobile) {
      margin-left: -50px;
      width: 40px;
      // position: relative;
      // margin-left: 0;
      // width: 100%;
    }

    &__item {
      font-size: 1.1em;
      width: 36px;
      height: 36px;
      margin-bottom: 12px;
      background-color: #FBFBFD;
      border: 1px solid #eceef2;
      color: #a7b3c6;
      border-radius: 1000px;
      text-decoration: none;
      display: inline-block;
      text-align: center;
      transition: all 0.1s;

      &:hover {
        border-color: $primary;
        color: $primary;
        transform: scale(1.3);
      }

      i {
        line-height: 34px;
      }
    }
  }

  .detail_news__tool {
    margin-top: 16px;
    color: #aaa;

    .date {
      color: #aaa;
      margin-right: 20px;
    }

    .number {
      color: $primary;
    }

    .icon_calendar_2 {
      position: relative;
      top: 1px;
      font-size: 18px;
    }
  }

  .detail_news__body {
    padding-top: 2em;
  }

  .content_html {
    color: #555;
    font-size: 1em;
    line-height: 1.6;
    @include mydevice(mobile) {
      font-size: 14px;
    }

    img {
      max-width: 100%;
    }
  }
}

.gallery_gioithieu{
  .item{
    position: relative;
    .sub-title{
      position: absolute;
      top: 30px;
      right: 27%;
      @include mydevice (mobile){
        display: none;
      }
      h3{
        font-size: 28px;
        color: #fff;
      }
      p{
        margin: 0;
        color: #fff;
      }
    }
    .main-title{
      position: absolute;
      top: 35%;
      left: 0;
      right: 0;
      @include mydevice (mobile){
        left: 0;
        right: 0;
        h3{
          font-size: 20px;
        }
      }
      h3{
        text-align: center;
        text-transform: uppercase;
        font-size: 40px;
        color: #fff;

      }

    }
  }
}
.page_gioithieu{
  .section_1{
    .section_tt{
      font-size: 22px;
      text-align: center;
    }
    .btn-broucher{
      color: #fff;
      border: none;
      background-color: #3094B4;
      padding: 5px 20px;
      border-radius: 10px;
    }
    .section__desc{
      text-align: justify;
    }
  }
  .banner_part{
    margin-bottom: 20px;
    img{
      width: 100%;
    }
  }
  .section_2{
    .section_tt{
      font-size: 22px;
      font-weight: bold;
    }
    .list_images{
      display: grid;
      grid-template-columns: repeat(4,1fr);
      grid-gap: 20px;
      margin-top: 40px;
      @include mydevice (tablet){
        margin-top: 30px;
        grid-template-columns: repeat(2,1fr);
      }
      @include mydevice (mobile){
        margin-top: 30px;
        grid-template-columns: repeat(1,1fr);
      }
      .item{
        .img{
          img{
            width: 100%;
          }
        }
        .content{
          text-align: center;
          padding-top: 10px;
        }
      }
    }
    .list_functions{
      display: grid;
      grid-template-columns: repeat(2,1fr);
      grid-column-gap: 70px;
      @include mydevice (mobile){
        grid-template-columns: repeat(1,1fr);
        grid-gap: 20px;
      }
      .item{
        .title{
          padding-top: 10px;
          font-size: 22px;
          font-weight: bold;
          h4{
            font-weight: bold;
          }
        }
        .content{
          p{
            text-align: justify;
          }
        }
      }
    }
    .frame-video{
      padding: 20px 0 10px;
      text-align: center;
      iframe{
        @include mydevice (mobile){
          width: 100% !important;
        }
      }
    }
  }
  .section_3{
    background-image: url(../../data/images/gt2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 20px;
    padding: 40px 0;
    .section_tt{
      h4{
        text-align: center;
        color: #fff;
        font-weight: bold;
        font-size: 1.7em;
        margin-bottom: 30px;
      }
    }
    .list_useful{
      display: grid;
      grid-template-columns: repeat(2,1fr);
      grid-row-gap: 50px;
      grid-column-gap: 400px;
      @include mydevice (mobile){
        grid-template-columns: repeat(1,1fr);
      }
      .items{
        display: flex;
        flex-direction: row;
        align-items: center;
        @include mydevice (mobile){
          justify-content: flex-start;
        }
        &:nth-child(even){
          //justify-content: flex-end;
          @include mydevice (mobile){
            justify-content: flex-start;
          }
        }
        .img{
          width: 50px;
          img{
            width: 100%;
          }
        }
        .content{
          padding-left: 20px;
          p{
            color: #fff;
          }
        }
      }
    }
  }
}

.page_sanpham {
  .col_ds {
    @include mydevice(mobile) {
      width: 100%;
    }
  }
}

.page_chitietsanpham {
  .section_ctsp_1 {
    .title_h1 {
      font-size: 4.4em;
      margin: 0;
      padding: 0;
      margin-bottom: 1em;
      color: #e1e1e1;
      margin-top: 0;
      @include mydevice(mobile) {
        font-size: 3em;
      }
      @include mydevice(phone) {
        font-size: 2em;
      }
    }

    .color_desc {
      font-size: 1.2em;
      color: #808080;
      text-transform: uppercase;
    }

    .price {
      &__txt1 {
        font-size: 1.2em;
        color: #808080;
        display: block;
      }

      &__txt2 {
        display: block;
        font-size: 2.1em;
        text-transform: uppercase;
        color: #000;
      }
    }

    .btn_gr {
      margin-top: 32px;
      @include mydevice(phone) {
        display: flex;
        margin-top: 12px;
      }

      .mybtn {
        min-width: 180px;
        @include mydevice(phone) {
          min-width: auto;
          width: 100%;
          margin-top: 0;
          padding-left: 0;
          padding-right: 0;
        }
      }

      .mybtn+.mybtn {
        margin-left: 0;
        margin-top: 1em;
        @include mydevice(phone) {
          margin-top: 0;
        }
      }
    }

    .mycol {
      &_2 {
        text-align: center;

        p {
          text-align: center;
          margin: 0;
        }

        img {
          max-width: 90%;
        }
      }
    }

    .gallery_color {
      display: flex;
      align-items: center;
      justify-content: center;
      @include mydevice(phone) {
        display: block;

        .img_lg {
          margin-top: 2em;
        }
      }

      .mycol_1 {
        width: 260px;
      }

      .mycol_3 {
        width: 60px;
      }

      .colors {
        float: right;
        @include mydevice(phone) {
          float: none;
          text-align: center;
        }

        .color_item {
          margin-top: 12px;
          @include mydevice(phone) {
            display: inline-block;
          }

          .c_border {
            cursor: pointer;
            width: 40px;
            height: 40px;
            display: inline-block;
            border-radius: 50%;
            position: relative;
            transition: border 0.3s;

            &:before {
              content: '';
              display: inline-block;
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              border-radius: 50%;
              border: 2px solid transparent;
            }
            @include mydevice(phone) {
              width: 30px;
              height: 30px;
            }
          }

          .c_inner {
            $spt: 3px;
            position: absolute;
            top: $spt;
            left: $spt;
            bottom: $spt;
            right: $spt;
            display: inline-block;
            border-radius: 50%;
          }

          &.active,
          &:hover {
            .c_border {
              &:before {
                border-color: #4f4d34;
              }
            }
          }
        }
      }
    }
  }

  .section_ctsp_2 {
    .thongsokythuat {
      table {
        width: 100%;
        border: 1px solid #e0e0e0;

        tr {
          border-bottom: 1px solid #e0e0e0;
        }

        td {
          padding: 0.9em 1.5em;
          font-size: 14px;
          @include mydevice(phone) {
            padding: 0.5em;
            font-size: 13px;
          }

          &.td1 {
            background-color: #f4f4f4;
            color: #6e6e6e;
            width: 30%;
          }

          &.td2 {
            color: #202020;
          }
        }
      }
    }
  }
}

.page_chitiettrangphuc {
  .section_cttp_2 {
    padding-top: 0;
  }

  .section_cttp_1 {
    .cols001 {
      .col_inner {
        @include mydevice(mobile) {
          padding-right: 0;
        }
      }
    }

    .info_dt {
      padding-left: 5%;
      @include mydevice(mobile) {
        padding: 5%;
      }
      @include mydevice(phone) {
        padding: 2em 0 0;
      }

      &__txt1 {
        font-size: 2em;
        color: #8d8d8d;
        font-weight: 700;
        margin: 0;
        padding: 0;
        @include mydevice(phone) {
          font-size: 1.42em;
        }
      }

      &__txt2 {
        font-size: 1.1em;
      }

      &__txt4 {
        font-size: 1.6em;
        margin-top: 1em;
        margin-bottom: 1em;
        padding: 0.7em 0;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;

        .p1 {
          color: #ccc;
          text-decoration: line-through;
          margin-right: 12px;
        }

        .p2 {
          font-weight: 600;
          font-size: 1.1em;
        }
      }

      .quantity {
        /* Chrome, Safari, Edge, Opera */
        input::-webkit-inner-spin-button,
        input::-webkit-outer-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
        /* Firefox */
        input[type=number] {
          -moz-appearance: textfield;
        }

        input {
          border: none;
          width: 50px;
          text-align: center;
          font-weight: 600;
          font-size: 1.2em;
          color: #666;
        }

        button {
          border: none;
          height: 50px;
          width: 50px;
          border-radius: 100px;
          background-color: #f2f2f2;
          color: #8d8d8d;

          i {
            line-height: 48px;
          }
        }
      }

      .btn_gr {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        justify-content: space-between;
        margin-top: 3em;
        margin-bottom: 3em;

        .mybtn {
          text-transform: none;
          border-radius: 100px;
          height: 50px;
          padding: 0 2em;
          font-weight: 700;

          .icon {
            margin-right: 6px;
          }
        }
      }

      &__txt3 {
        color: $site-color-3;

        .s1 {
          color: #505050;
          font-weight: 700;
        }

        .s2 {
          color: #8d8d8d;
        }
      }

      &__txt6 {
        color: #8d8d8d;
        margin-top: 1em;
        line-height: 1.6;
        margin-bottom: 1em;
      }

      &__txt5 {
        padding-top: 1em;

        .s_size {
          margin-bottom: 1.5em;
        }
      }

      .radio_detail {
        display: inline-block;
        @include mydevice(phone) {
          display: block;

          > * {
            margin-top: 1em;
          }
        }
      }

      .txtsamewidth {
        width: 60px;
        display: inline-block;
        vertical-align: top;
        line-height: 30px;
      }
    }

    .img-lg {
      border: 1px solid #eee;

      img {
        width: 100%;
      }
    }

    .slide-dt-thumb {
      margin-top: 12px;

      img {
        width: 100%;
      }

      .owl-item {
        position: relative;
      }

      .imgthumb {
        position: absolute;
        border: 1px solid #eee;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 3;

        &.active {
          border-bottom-color: #cb1e33;
        }
      }
    }
  }

  .content_html {
    padding: 2em 0;
  }
}

.list_album {
  display: flex;
  margin-left: -24px;
  margin-right: -24px;
  flex-wrap: wrap;
  @include mydevice(mobile) {
    margin-left: -12px;
    margin-right: -12px;
  }

  a {
    text-decoration: none;
    outline: none;
    color: #000;
    display: block;
  }

  .item {
    width: 33%;
    padding-left: 24px;
    padding-right: 24px;
    margin-bottom: 24px;
    @include mydevice(mobile) {
      width: 50%;
      padding-left: 12px;
      padding-right: 12px;
    }

    &__inner {
      border: 1px solid #eee;
    }

    &__img {
      overflow: hidden;

      img {
        width: 100%;
        transition: all 0.3s;
      }
    }

    &__txt {
      padding: 0 1.4em 1em;
      @include mydevice(mobile) {
        padding-left: 12px;
        padding-right: 12px;
      }

      .list_image {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 24px;
        @include mydevice(mobile) {
          grid-template-columns: repeat(3, 1fr);
          grid-gap: 12px;
        }
        @include mydevice(phone) {
          grid-template-columns: repeat(2, 1fr);
          grid-gap: 12px;
        }

        .item,
        a {
          position: relative;
          display: block;
          background-color: #F7F7F7;
          transition: all 0.2s;
          // &:before{
          //   position: absolute;
          //   top: 0;
          //   left: 0;
          //   right: 0;
          //   bottom: 0;
          //   display: inline-block;
          //   background-color: rgba(0,0,0,.0);
          //   transition: all 0.2s;
          //   content: ''
          // }
          &:hover {
            @include myshadow(1);
            // &:before{
            //   background-color: rgba(0,0,0,.2);
            // }
          }

          .btn_play_video {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 3;
            background: url("../images/btn_play_video.png");
            background-size: 50px 50px;
            background-repeat: no-repeat;
            background-position: center center;
            display: inline-block;
            background-color: rgba(0,0,0,.3);
            transition: all 0.2s;

            &:hover {
              background-color: rgba(0,0,0,.5);
              background-size: 55px 55px;
            }
          }

          img {
            width: 100%;
            height: 180px;
            display: inline-block;
            object-fit: contain;
            @include mydevice(mobile) {
              height: 25vw;
            }
            @include mydevice(phone) {
              height: 30vw;
            }
          }
        }

        &_3 {
          .item {
            img {
              height: 275px;
            }
          }
        }
      }

      &_1 {
        font-size: 18px;
        font-weight: 600;
        @include mydevice(mobile) {
          font-size: 14px;
        }
      }

      &_2 {
        font-size: 16px;
        @include mydevice(mobile) {
          font-size: 14px;
        }

        span+span {
          &:before {
            content: "+";
            margin: 0 12px;
          }
        }
      }
    }

    &:hover {
      .item__img {
        img {
          transform: scale(1.1);
        }
      }

      a {
        color: $site-color-1;
      }
    }
  }

  &.list_album_tailieu{
    .item{
      &__inner{
        position: relative;
      }
      &__txt{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(255,255,255,.7);
        color: #000;
      }
    }
  }
}

.list_image {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  margin-left: -24px;
  margin-right: -24px;
  flex-wrap: wrap;
  @include mydevice(mobile) {
    margin-left: -12px;
    margin-right: -12px;
  }

  .item {
    width: 25%;
    padding-left: 24px;
    padding-right: 24px;
    margin-bottom: 24px;
    position: relative;
    display: block;
    transition: all 0.2s;
    @include mydevice(mobile) {
      width: 50%;
      padding-left: 12px;
      padding-right: 12px;
    }

    a {
      background-color: #F7F7F7;
      display: block;
      transition: all 0.2s;

      &:hover {
        @include myshadow(1);
      }
    }

    .btn_play_video {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 3;
      background: url("../images/btn_play_video.png");
      background-size: 50px 50px;
      background-repeat: no-repeat;
      background-position: center center;
      display: inline-block;
      background-color: rgba(0,0,0,.3);
      transition: all 0.2s;

      &:hover {
        background-color: rgba(0,0,0,.5);
        background-size: 55px 55px;
      }
    }

    img {
      width: 100%;
      height: 180px;
      display: inline-block;
      object-fit: contain;
      @include mydevice(mobile) {
        height: 25vw;
      }
      @include mydevice(phone) {
        height: 30vw;
      }
    }
  }
}

.list_categories {
  .item {
    border-bottom: 1px solid #eee;

    a {
      text-decoration: none;
      padding: 16px 0;
      display: block;
      color: #666;

      span {
        margin-left: 8px;
      }
    }
  }
}

.btn_view_more {
  text-align: center;
  position: relative;

  .mybtn {
    position: relative;
    z-index: 1;
  }

  &:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    border-bottom: 1px solid #EEF0F0;
    display: inline-block;
    z-index: 0;
  }
}

.list_htbv {
  .item {
    margin-top: 2em;
    margin-bottom: 4em;
    display: block;
    &:hover{
      .item__img{
        img{
          transform: scale(1.07);
        }
      }
    }
    &__inner {
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      justify-content: space-between;
      @include mydevice(mobile) {
        display: block;
      }
    }

    &__img {
      width: 25%;
      overflow: hidden;
      @include mydevice(mobile) {
        width: 100%;
      }

      img {
        width: 100%;
        transition: all 0.4s;
      }
    }

    .bddrs {
      border: 1px solid #77BCDA;
      border-radius: 16px;
    }

    &__desc {
      width: 35%;
      @extend .bddrs;
      @include mydevice(mobile) {
        width: 100%;
        margin-top: 3em;
        margin-bottom: 3em;
      }

      &__1 {
        font-weight: bold;
        font-size: 1.3em;
        position: relative;
        top: -10px;
        @include mydevice(mobile) {
          font-size: 1.2em;
        }

        span {
          background-color: #fff;
          padding: 0 8px;
        }
      }

      &__2 {
        padding: 1em;
        font-size: 1.3em;
        padding-top: 0;
        p{
          -webkit-box-orient: vertical;
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 5;
          max-height: 130px;
          font-size: 16px;
        }

        @include mydevice(mobile) {
          font-size: 1em;
        }
      }

      .linkkm {
        text-transform: uppercase;
        font-weight: bold;
        color: #2A67B2;
        font-size: 1.3em;
        text-decoration: none;
        padding: 8px;
        text-shadow: 1px 1px 0 #fff, 2px 2px 0 rgba(0,0,0,.2);

        i {
          font-size: 30px;
          position: relative;
          top: 4px;
          margin: 0 6px;
        }
      }
    }

    &__address {
      width: 34%;
      @extend .bddrs;
      @include mydevice(mobile) {
        width: 100%;
      }

      .icon_map {
        position: relative;
        top: -30px;

        span {
          background-color: #fff;
          line-height: 0;
          color: $primary;
          padding: 0 24px;
          display: inline-block;

          i {
            font-size: 60px;
          }
        }
      }

      &__1 {
        padding: 0 1em 1em;
        font-size: 1.3em;
        @include mydevice(mobile) {
          font-size: 1em;
        }

        a {
          color: blue;
        }
      }

      &__2 {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 2em;

        .text {
          font-size: 1.5em;
          font-weight: bold;
          margin-right: 16px;
          @include mydevice(mobile) {
            font-size: 1.3em;
          }
        }
      }

      .box_phone {
        display: inline-block;

        &__inner {
          display: inline-block;
          background-color: #fff;
          border-radius: 10px;
          text-decoration: none !important;
          padding: 6px 12px 6px 8px;
          display: -webkit-flex;
          display: -ms-flex;
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: hidden;
          color: #FFF;
          background-image: linear-gradient(to right, #145E93 , #1AB4E5);

          .icon {
            width: 40px;
            height: 40px;
            display: inline-block;
            background-image: url("../images/icon_phone_htbv.png");
            background-size: 100% auto;
            margin-right: 10px;
          }

          .number {
            font-size: 1.6em;
            font-weight: bold;
            color: #fff;
            @include mydevice(mobile) {
              font-size: 1.3em;
            }
          }
        }
      }
    }
  }
}
.page_tailieu{
  .section_title{
    text-align: center;
    position: relative;
    &:before{
      content: "";
      position: absolute;
      bottom: 4px;
      left: 0;
      height: 4px;
      width: 44%;
      background-color: #3094B4;
      @media only screen and (max-width: 600px){
        width: 35% !important;
      }
      @include mydevice (tablet){
        width: 40%;
      }
    }
    &:after{
      content: "";
      position: absolute;
      bottom: 4px;
      right: 0;
      height: 4px;
      width: 44%;
      background-color: #3094B4;
      @media only screen and (max-width: 600px){
        width: 35% !important;
      }
      @include mydevice (tablet){
        width: 40%;
      }
    }
    .title{
      font-weight: bold;
      text-transform: uppercase;
      color: #3094B4;
    }
  }
}
.list_tailieu {
  &__inner {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @media only screen and (max-width: 600px){
      flex-direction: column;
    }
    @include mydevice (phone){
      flex-direction: column;
    }
  }

  .item {
    width: 46%;
    margin-top: 3em;
    margin-bottom: 2em;
    @media only screen and (max-width: 600px){
      width: 100%;
    }
    @include mydevice (phone){
      width: 100%;
    }


    &__inner {
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      justify-content: space-between;
    }

    &__img {
      width: 30%;
      @include mydevice(phone) {
        width: 20%;
      }

      img {
        max-width: 100%;
      }
    }

    &__txt {
      width: 65%;
      @include mydevice(phone) {
        width: 70%;
      }

      &__1 {
        font-size: 1.8em;
        margin-bottom: 0.5em;
        font-weight: bold;
        color: $primary;
        @include mydevice(phone) {
          font-size: 1.2em;
        }
      }

      &__2 {
        line-height: 1.6;
      }

      &__3 {
        margin-top: 40px;
      }

      &__4{
        font-size: 1.2em;
        @include mydevice(mobile){
          font-size: 1em;
        }
      }

      .btn_download {
        background-image: url('/assets/images/download.png');
        background-position: 24px center;
        font-size: 1.3em;
        width: 100%;
        font-weight: normal;
        position: relative;
        padding-left: 48px;
        background-repeat: no-repeat;
        border-radius: 0px;
        max-width: 100%;
        text-align: center;
        margin-bottom: 20px;
        &:before{

        }
        @media only screen and (max-width: 600px){
          font-size: 1.1em;
        }
        @include mydevice(phone) {
          background-position: 6px center;
          font-size: 0.8em;
          padding-left: 24px;
        }
      }
    }


    &.full{
      width: 100%;

      .item__img{
        width: 20%;
      }

      .item__txt{
        width: 75%;
      }
    }
  }
}

.tailieu_chitiet {

  .row1{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;

    @include mydevice(mobile){
      display: block;
    }

    .cols2{
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      @include mydevice(mobile){
        margin-top: 2em;
      }
    }
  }
  .btn_download {
    background-image: url("../images/arrow_download.png");
    background-position: 20px center;
    font-size: 2.3em;
    font-weight: bold;
    background-repeat: no-repeat;
    padding-left: 30px;
    border-radius: 4px;
    min-width: 300px;
    max-width: 100%;
    text-align: center;
    @include mydevice(phone) {
      background-position: 6px center;
      font-size: 0.8em;
      padding-left: 24px;
    }
  }
}

#myModal{
  padding-right: 0 !important;
  .modal-dialog{
    width: 480px;
    position: relative;
    margin: 0 auto;
    top: 25%;
    @include mydevice (phone){
      width: 100%;
    }
    .modal-content{
      border-radius: 0;
    }
    .modal-header{
      border-bottom: none;
      padding: 0;
      position: relative;
      .close{
        position: absolute;
        z-index: 1;
        top: 5px;
        right: 8px;
      }
    }
    .nav.nav-tabs{
      border-bottom: none;
      li{
        border: none;
        border-radius: 0;
        width: 50%;
        a{
          text-align: center;
          border-radius: 0;
          border: none;
          color: #4F5F6B;
          font-weight: bold;
        }
        &:hover{
          border: none;
          a{
            border: none;
          }
        }
        &.active{
          border: none;
          a{
            background: #C6CBCF;
            border: none;
          }
        }
      }
    }
    .modal-body{
      padding: 0;
      .tab-content{
        padding: 0 20px 30px;
        .form-group{
          label{
            font-weight: normal;
          }
        }
        .signin_social{
          margin-top: 10px;
          p{
            text-align: center;
          }
          .list_socials{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            grid-gap: 10px;
            .item{
              padding: 10px 15px;
              border-radius: 5px;
              text-align: center;
              &.google{
                background: #DD4B39;
              }
              &.facebook{
                background: #3B5998;
              }
              &.twitter{
                background: #55ACEE;
              }
              i{
                color: #fff;
                font-size: 20px;
              }
            }
          }
        }
        .form_account{
          padding-top: 15px;
          .title{
            text-align: center;
            padding-bottom: 10px;
            .line{
              position: relative;
              &:after{
                position: absolute;
                right: 0;
                top: 10px;
                content: "";
                width: 150px;
                height: 1px;
                background-color: #EAEAEA;
              }
              &:before{
                position: absolute;
                left: 0;
                top: 10px;
                content: "";
                width: 150px;
                height: 1px;
                background-color: #EAEAEA;
              }
            }
          }
          .form{
            .password{
              position: relative;
              .see-pass{
                position: absolute;
                top: 10px;
                right: 10px;
                z-index: 5;
                i{
                  color: #69859C;
                }
              }
            }
            .input-group{
              padding-bottom: 10px;
              .input-group-addon{
                background: transparent;
                border-color: #69859C;
                padding: 6px 15px;
              }
              .form-control{
                border-color: #69859C;
                height: 40px;
              }
            }
          }
        }
        .remember{
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          .checkbox{
            input[type=checkbox]{
              margin-left: 0px;
            }
            label{
              font-size: 13px;
            }
          }
          .link{
            a{
              font-size: 13px;
              text-decoration: none;
            }
          }
        }
      }
    }
    .form-footer{
      .mybtn{
        width: 100%;
      }
    }
  }
}
