.p-footer {
  background-color: $bg_footer;
  position: relative;
  overflow: hidden;
  color: #fff;
  padding-top: 32px;
  @include mydevice(mobile){
    padding-bottom: 30px;
  }

  .container {
    position: relative;
    z-index: 1;
  }

  img.logo {
    max-width: 60%;
  }

  .row1 {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    @include mydevice(mobile){
      display: block;
    }

    .cols2 {
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      padding-left: 100px;
      flex-direction: column;
      @include mydevice (tablet){
        padding-left: 40px;
        padding-right: 40px;
        .box_phone__inner{
          .icon{
            width: 24px;
            height: 24px;
          }
          .number{
            font-size: 14px;
          }
        }
      }
      @media only screen and (max-width: 1199px){
        .box_phone__inner{
          .icon{
            width: 24px;
            height: 24px;
          }
          .number{
            font-size: 13px;
          }
        }
      }
      @include mydevice (phone){
        padding-left: 15px;
        padding-right: 15px;
        .box_phone__inner{
          .icon{
            width: 24px;
            height: 24px;
          }
          .number{
            font-size: 13px;
          }
        }
      }
      .image{
        text-align: center;
      }
      .content{
        text-align: center;
        margin-bottom: 20px;
        .sub-title{
          text-align: center;
        }
        .desc{
          p{
            text-align: justify;
          }
        }
      }
      .contact{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
      }
    }
  }

  &:before {
    position: absolute;
    content: '';
    width: 100%;
    left: 0;
    height: 300%;
    bottom: 0;
    display: inline-block;
    background-image: radial-gradient(#1CAFE6, #084C6C);
  }

  .myform {
    .btn_gr {
      text-align: right;

      .mybtn {
        background: none;
        border: 1px solid #fff;
        width: 100px;
        border-radius: 3px;
      }
    }

    .form-group {
      .form-control {
        background: none;
        border-color: #fff;
        color: #fff;

        &::-webkit-input-placeholder {
          /* Edge */
          color: white;
        }

        &:-ms-input-placeholder {
          /* Internet Explorer 10-11 */
          color: white;
        }

        &::placeholder {
          color: white;
        }
      }
    }
  }

  .box_phone {
    display: inline-block;

    &__inner {
      display: inline-block;
      background-color: #fff;
      border-radius: 10px;
      text-decoration: none !important;
      padding: 6px 12px 6px 8px;
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;

      .icon {
        width: 35px;
        height: 35px;
        display: inline-block;
        background-image: url("../images/icon_phone_footer.png");
        background-size: 100% auto;
        margin-right: 10px;
        &.email{
          background-image: url("../images/mail.png");
        }
      }

      .number {
        font-size: 1em;
        font-weight: bold;
        color: #0F5069;
      }
    }
  }

  .link_social {
    margin-top: 16px;
    margin-bottom: 16px;
    @include mydevice(mobile) {
      margin-top: 8px;
    }

    &__item {
      width: 34px;
      height: 34px;
      text-decoration: none;
      display: inline-block;
      text-align: center;
      font-size: 18px;
      color: #fff;
      border: 1px solid #fff;
      overflow: hidden;
      margin-right: 8px;
      border-radius: 1000px;
      @include mydevice (mobile){
        margin-bottom: 10px;
      }
      &:hover {
        border-color: transparent;
      }

      i {
        line-height: 33px;
        display: inline-block;
        width: 100%;
        border-radius: 1px;

        &:hover {
          color: #fff;
        }
      }
    }
  }

  .row2{
    @include mydevice(mobile){
       margin-top: 24px;
       text-align: center;
    }
  }

  .row3 {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 3px solid #fff;
    margin-top: 36px;
      @include mydevice(mobile){
        display: block;
        text-align: center;
        .copyright{
          display: block;
          width: 100%;
          margin-bottom: 16px;
          margin-top: 16px;
        }
      }
  }

  .copyright {
    font-size: 18px;
  }
}
