.my_menu {
  position: relative;
  z-index: 9;
  $bg_menu_desktop: #fff;
  $bg_menu_mobile: #fff;
  $bg_menu_dropdown_mobile: #fff;
  $color_link_desktop: #222;
  $color_link_desktop_hover: $site-color-1;
  $bg_link_hover: #fff;
  .container{
    @include minscreenw(992px) {
      width: 100%;
    }
    @include maxscreenw(1024px) {
      width: 100%;
    }
    @include minscreenw(1200px) {
      width: 1170px;
    }
    // @include minscreenw(1366px) {
    //   width: 1024px;
    // }
  }
  .icon_menu_mb {
    $bg_color_icon_open_menu_mobile: #222;
    $w_icon_menu: 32px;
    $h_icon_menu: 2px;
    $pos_top_bot: -8px;
    background: none;
    border: none;
    height: $w_icon_menu - 4px;
    position: relative;
    padding: 0;
    vertical-align: top;
    transition: all 0.3s;

    &:hover:not(.icon_close) {
      span {
        &::after {
          width: $w_icon_menu * 0.6;
        }
      }
    }

    span {
      height: $h_icon_menu;
      width: $w_icon_menu;
      display: block;
      background-color: $bg_color_icon_open_menu_mobile;
      position: relative;

      &::after,
      &::before {
        position: absolute;
        content: "";
        width: $w_icon_menu;
        height: $h_icon_menu;
        display: inline-block;
        background-color: $bg_color_icon_open_menu_mobile;
        left: 0;
        transition: all 0.2s;
      }

      &::before {
        top: $pos_top_bot;
      }

      &::after {
        bottom: $pos_top_bot;
      }
    }

    &.icon_close {
      span {
        background-color: transparent;

        &::before {
          transform: rotate(45deg);
          top: 0;
        }

        &::after {
          transform: rotate(-45deg);
          bottom: 0;
        }
      }

      &:hover {
        transform: scale(0.98);
      }
    }
  }

  .icon_drop {
    padding: 0;
    background: none;
    border: none;
    position: absolute;
    right: 0;
    top: 0;
    display: none;

    &:before {
      content: "";
      border: 6px solid transparent;
      border-top-color: #000;
      position: absolute;
      top: 14px;
      left: 50%;
      margin-left: -8px;
    }
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;

    h2,
    h3,
    h4,
    h5,
    h6 {
      padding: 0;
      margin: 0;

      a {
        font-size: 15px;
        padding: 8px 8px;
        display: block;
        text-decoration: none;
        color: #000;
        outline: none;
      }
    }

    h2 {
      a {
        text-transform: uppercase;
      }
    }

    li {
      position: relative;
    }

    &.ul2 {
      > li {
        display: inline-block;
      }

      ul {
        position: absolute;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        min-width: 180px;
        background-color: #fff;
      }
    }

    &.ul3 {
      left: 0;
      top: 100%;
    }
    @for $i from 4 through 6 {
      &.ul#{$i} {
        left: 100%;
        top: 0;
      }
    }
  }

  &__header {
    display: none;
    display: flex;
    justify-content: space-between;
    padding: 12px 16px;

    .mylogo {
      img {
        max-height: 30px;
      }
    }
  }
  //desktop
  @include mydevice(desktop) {
    background-color: $bg_menu_desktop;
    padding: 8px 0;
    transition: all 0.3s;

    .my_menu__body {
      display: flex;
      padding: 0;
      justify-content: space-between;

      .ul2 {
        padding-top: 8px;
      }

      .mylogo {
        margin-right: 30px;
        padding: 8px 0;

        img {
          max-height: 32px;
        }
      }
    }

    .my_menu__header {
      display: none;
    }

    ul {
      h2 {
        .active_menu_a {
          background-color: $bg_link_hover;
          color: $color_link_desktop_hover;
          // span {
          //   &:before {
          //     left: 0;
          //     right: 0;
          //     width: 100%;
          //   }
          // }
        }

        a {
          //font-weight: bold;
          color: $color_link_desktop;

          span {
            position: relative;

            &:before {
              content: "";
              position: absolute;
              left: 50%;
              bottom: -6px;
              width: 0;
              height: 2px;
              background-color: $primary;
              transition: all 0.3s;
            }
          }

          &:hover {
            @extend .active_menu_a;
          }
        }
      }

      h3,
      h4,
      h5 {
        a {
          &:hover {
            color: $primary;
          }
        }
      }

      ul {
        box-shadow: 1px 1px 5px rgba(0,0,0,.2);
      }

      li {
        &.active {
          h2 {
            a {
              //@extend .active_menu_a;
              background-color: $bg_link_hover;
              color: $color_link_desktop_hover;
              font-weight: bold;
            }
          }
        }

        &:hover {
          > ul {
            opacity: 1;
            visibility: visible;
            pointer-events: auto;
          }
        }
      }
    }
  }
  //mobile
  @include mydevice(mobile) {
    max-height: 100vh;
    // overflow-y: auto;
    .my_menu__header {
      background-color: $bg_menu_mobile;
    }

    .container {
      padding-left: 0;
      padding-right: 0;
    }

    .my_menu__body {
      .mylogo {
        display: none;
      }
    }

    .icon_menu_mb {
      display: initial;
    }

    .icon_drop {
      display: block;
      right: 0;
      width: 60px;
      height: 40px;
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
      a {
        padding: 12px 24px;
      }
    }

    ul {
      transition: all 0.5s;
      max-height: 0;
      overflow: hidden;

      &.ul2 {
        background-color: $bg_menu_dropdown_mobile;

        > li {
          display: block;
          border-bottom: 1px solid #efefef;
        }
      }

      ul {
        position: relative;
        left: 0;
        right: 0;
        display: block;

        &.active {
          max-height: 100vh;
          opacity: 1;
          visibility: visible;
          pointer-events: auto;
        }
      }
      @for $i from 3 through 6 {
        &.ul#{$i} {
          padding-left: ($i - 2) * 12px;
        }
      }
    }

    &.active {
      .ul2 {
        max-height: 100vh;
      }
    }
  }
}

.sticky_header {
  animation-duration: 0.5s;

  &.is-sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 4;

    .my_menu {
      padding-top: 8px;
      padding-bottom: 8px;
      @include mydevice (mobile){
        padding: 0;
      }
      @include myshadow(1);
    }
  }
}



.search_top {
  border: none !important;
  .search_top_btn {
    border: none;
    background: none;
    font-size: 18px;
  }
  @include mydevice(mobile) {
    position: absolute;
    right: 50px;
    top: 6px;

    .search_top_btn {
      height: 40px;
      width: 50px;
      text-align: center;
    }
  }
}

.search_top_dropdown {
  border: none;
  padding: 0;
  border-radius: 0;
  background-color: #fff;

  &__inner {
    position: absolute;
    padding-right: 30px;
    @include mydevice(mobile){
      position: fixed;
      left: 15px;
      right: 15px;
    }

    .form-control {
      border: none;
      border-radius: 0;
      font-size: 12px;
      width: 100%;
      min-width: 150px;
    }

    .search_btn {
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      width: 30px;
      text-align: center;
      background: $primary;
      border: none;
      color: #fff;
    }
  }
}
.none-padding-lr{
  padding-left: 0 !important;
  padding-right: 0 !important;
}
