.section {
  &_1 {
    img {
      max-width: 100%;
    }
    .section__tt{
      transition: all 0.4s;
      &:hover{
        a{
          color: $site-color-1;
          transition: all 0.4s;
          &:after{
            color: #fff;
          }
        }
      }
      a{
        text-decoration: none;
        color: #222;
        position: relative;
        &:after{
          content: "\f2fb";
          position: absolute;
          right: -24px;
          top: 8px;
          background-color: #3094B4;
          width: 20px;
          height: 20px;
          border-radius: 100%;
          font: normal normal normal 14px/1 'Material-Design-Iconic-Font';
          font-size: 20px;
          color: #fff;
          @include mydevice (mobile){
            top: 2px;
          }
        }
      }
    }
    .cols1 {
      img {
        width: 90%;
        //border: 1px solid #C4C4C4;
      }
    }

    .list_result {
      &__inner {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        flex-wrap: wrap;
      }

      .item {
        text-align: center;
        width: 50%;

        &__inner {
          padding: 16px;
        }

        &__img {
          img {
            width: 40%;
          }
        }

        &__txt {
          &__1 {
            text-transform: uppercase;
            margin: 8px 0;
          }

          &__2 {
            text-align: left;
            p{
              -webkit-box-orient: vertical;
              overflow: hidden;
              display: -webkit-box;
              -webkit-line-clamp: 5;
              max-height: 96px;
            }
          }
        }
      }
    }
  }

  &_2 {
    .section__tt{
      transition: all 0.4s;
      &:hover{
        a{
          color: $site-color-1;
          transition: all 0.4s;
          &:after{
            color: #fff;
          }
        }
      }
      a{
        text-decoration: none;
        color: #222;
        position: relative;
        &:after{
          content: "\f2fb";
          position: absolute;
          right: -24px;
          top: 8px;
          background-color: #3094B4;
          width: 20px;
          height: 20px;
          border-radius: 100%;
          font: normal normal normal 14px/1 'Material-Design-Iconic-Font';
          font-size: 20px;
          color: #fff;
          @include mydevice (mobile){
            top: 27px;
          }
        }
      }
    }
    .item {
      width: 100% !important;
      padding: 0;

      &__txt {
        &__2 {
          min-height: 100px;
        }
      }
    }
  }

  &_3 {
    .section__tt{
      transition: all 0.4s;
      &:hover{
        a{
          color: $site-color-1;
          transition: all 0.4s;
          &:after{
            color: #fff;
          }
        }
      }
      a{
        text-decoration: none;
        color: #222;
        position: relative;
        &:after{
          content: "\f2fb";
          position: absolute;
          right: -24px;
          top: 8px;
          background-color: #3094B4;
          width: 20px;
          height: 20px;
          border-radius: 100%;
          font: normal normal normal 14px/1 'Material-Design-Iconic-Font';
          font-size: 20px;
          color: #fff;
          @include mydevice (mobile){
            top: 5px;
          }
        }
      }
    }
  }
  &_4{
    .section__inner{
      position: relative;
      @include mydevice (desktop){
        //padding-left: 40px;
      }
      // &:before{
      //   content: "";
      //   position: absolute;
      //   background-image: linear-gradient(to bottom, #1cafe6, #1995c6, #157ba7, #0f6389, #084c6c);
      //   width: 20px;
      //   height: 95%;
      //   top: 0;
      //   left: 0;
      //   @include mydevice (mobile){
      //     display: none;
      //   }
      // }
    }
    .section__tt{
      transition: all 0.4s;
      &:hover{
        a{
          color: $site-color-1;
          transition: all 0.4s;
          &:after{
            color: #fff;
          }
        }
      }
      a{
        text-decoration: none;
        color: #222;
        position: relative;
        &:after{
          content: "\f2fb";
          position: absolute;
          right: -24px;
          top: 8px;
          background-color: #3094B4;
          width: 20px;
          height: 20px;
          border-radius: 100%;
          font: normal normal normal 14px/1 'Material-Design-Iconic-Font';
          font-size: 20px;
          color: #fff;
          @include mydevice (mobile){
            top: 4px;
          }
        }
      }
    }
    .gl-item{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;
      @include mydevice (mobile){
        grid-template-columns: 1fr !important;
      }
    }
    .item{
      &__inner{
        position: relative;
      }
      &__img{
        width: 60% !important;
        img{
          height: 100%;
        }
        .txt_date{
          position: absolute !important;
          bottom: -10px;
          left: 0;
          border-radius: 5px;
          &__1{
            font-size: 20px;
          }
          &__2{
            font-size: 18px;
          }
          @include mydevice (mobile){
          }
        }
      }
      &__inner{
        background: #fff !important;
      }
      &__txt {
        padding-bottom: 0px !important;
        &__1 {
          font-size: 15px !important;
        }

        &__2 {
          font-size: 12px;
          p{
            -webkit-box-orient: vertical;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            max-height: 96px;
          }
        }

        &__3 {
          span{
            font-size: 13px;
          }
        }

        &__4 {
        }
      }
    }
  }
  &_5 {
    background-image: url("/data/image/Banner/home.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 280px;
    max-height: 280px;
  }
}

.gallery-home {
  .item {
    img {
      width: 100%;
    }
  }

  .item__txt {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #fff;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    &_1,
    &_2,
    .btn_gr {
      visibility: hidden;

      &.vis {
        visibility: visible !important;
      }
    }

    &_1 {
      font-size: 50px;
      font-weight: 700;
      @include mydevice(mobile) {
        font-size: 30px;
      }
      @include mydevice(phone) {
        font-size: 16px;
      }
    }

    &_2 {
      font-size: 34px;
      @include mydevice(mobile) {
        font-size: 24px;
      }
      @include mydevice(phone) {
        font-size: 12px;
      }
    }

    .btn_gr {
      margin-top: 24px;
      @include mydevice(phone) {
        margin-top: 12px;
      }
    }

    .mybtn {
      border-color: #fff;
      color: #fff;
      background: none;
      padding: 0.5em 2em;

      &:hover {
        background-color: $site-color-1;
        color: #fff;
        border-color: $site-color-1;
      }
      @include mydevice(mobile) {
        font-size: 16px;
      }
      @include mydevice(phone) {
        font-size: 12px;
      }
    }
  }

  .owl-nav {
    visibility: hidden;
    transition: all 0.5s;
    @include mydevice(mobile) {
      display: none;
    }

    .owl-prev {
      left: 2%;
    }

    .owl-next {
      right: 2%;
    }
  }

  &:hover {
    .owl-nav {
      visibility: visible;
    }
  }
}

#loading {
  display: inline-block;
  content: '';
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  background: url("../images/loading.gif") no-repeat center center #ffffff;
  z-index: 100000;

  &.finished {
    z-index: -1;
    display: none;
  }
}

.p-content {
  position: relative;
}

.sticky_right_ht {
  position: absolute;
  right: 0;
  top: 50px;
  z-index: 10;
  @include mydevice(mobile){
    display: none;
  }
  &__inner {
    width: 160px;
    text-align: center;
    transition: all 0.5s;


    &.is-sticky {
      @include mydevice(desktop){
        position: fixed;
        right: 0;
        top: 70px;
      }
    }


    @include mydevice(mobile){
      position: fixed;
      left: 0;
      right: 0;
      bottom: 0;
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      width: 100%;

      .item{
        margin-bottom: 0;
        width: 50%;
        &__body{
          display: none;
        }
      }
    }
  }

  .item {
    padding: 1em 0 0;

    img{
      width: 80%;
    }
    &__inner {
      background-color: #fff;
      border: 1px solid #BDBEBE;
      border-radius: 6px;
      border-top: none;
    }

    &__title {
      background-image: url("../images/bg_htbv.png");
      background-size: cover;
      color: #fff;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 0.8em;
      padding: 8px;
      text-align: center;
      border-radius: 6px 6px 0 0;
    }

    &__body {
      padding: 24px 12px;
      position: relative;

      &:after,
      &:before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        height: 12px;
        background-color: #59C2D1;
        display: inline-block;
        border-radius: 0 0 6px 6px;
      }

      &:before {
        top: 0;
      }

      &:after {
        bottom: 0;
      }
      .item{
        border-bottom: 1px solid #d2d2d2;
        text-align: center;
        padding: 10px 0 10px;

        a{
          height: 90px;
          align-items: center;
          text-decoration: none;
          text-align: center;
          display: flex;
          justify-content: center;
          border: none;
          &:focus{
            border: none;
          }
          img{
            width: auto;
            max-width: 80%;
            max-height: 100%;
          }
        }
      }
    }

    .text1 {
      font-size: 1em;
      .link{
        &:nth-child(1){
          padding-bottom: 5px;
          margin-bottom: 5px;
          border-bottom: 1px solid #d2d2d2;
        }
      }
      a{

        text-decoration: none;
        color: #222;
        &:hover{
          transition: all 0.3s;
          color: $site-color-1;
        }
      }
    }

    &.myhtbv {
      padding-top: 0px;
      @include mydevice(mobile) {
        display: none;
      }
    }
  }
}
.button_scroll2top{
  @include mydevice (mobile){
    display: none !important;
  }
}
.messenger{
  @include mydevice (mobile){
    right: 10px;
bottom: 10px;
  }
  right: 24px;
  bottom: 75px;
  position: fixed;
  display: flex !important;
  align-items: center;
  text-align: center;
  background-image: none;
  justify-content: center;
  z-index: 4;
  cursor: pointer;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.5);
  height: 60px;
  width: 60px;
  &:hover{
    .slide-tooltip{
      visibility: visible;
      width: 290px;
      opacity: 1;
    }
  }
  .slide-tooltip{
    position: absolute;
    color: #00609C;
    background: white;
    display: inline-block;
    white-space: nowrap;
    right: 0;
    top: 0;
    line-height: 58px;
    border: solid 1px #ccc;
    border-radius: 100px;
    visibility: hidden;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    z-index: -1;
    padding-right: 50px;
    padding-left: 24px;
    -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.5);
    font-weight: 600;
    font-size: 20px;
    width: 0px;
    opacity: 0;
  }
  img{
    position: relative;
    width: 70%;
  }
}
.slick-slider{
  .slick-arrow{
    border: none;
    font-size: 0;
    background-color: transparent;
    &:before{
      font: normal normal normal 14px/1 'Material-Design-Iconic-Font';
      font-size: 30px;
      color: #fff;
    }
  }
  .slick-prev{
    position: absolute;
    top: -33px;
    right: 55px;
    z-index: 3;
    &:before{
      content: "\f2f8";
    }
  }
  .slick-next{
    position: absolute;
    bottom: -34px;
    right: 54px;
    z-index: 3;
    &:before{
      content: "\f2f2";
    }
  }
}

.sticky_right_ht_mobile{
  display: none;
  @include mydevice(mobile){
    display: block;

  }
  position: fixed;
  left: 0;
  bottom: 2px;
  z-index: 8;
  a{
    font-size: 14px;
    background-color: $primary;
    color: #fff;
    padding: 6px;
    padding-bottom: 8px;
    border-radius: 3px;
    display: inline-block;
  }
}
