body {
  font-family: $site-font-1;
  font-weight: 400;
  font-display: swap;
}

.section {
  padding-top: 40px;
  padding-bottom: 40px;
  @include mydevice(mobile) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  @include mydevice(phone) {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  &__tt {
    margin: 0;
    padding: 0;
    text-align: center;
    color: #000;
    font-size: 25px;
    margin-bottom: 36px;
    font-weight: bold;
    padding-bottom: 20px;
    position: relative;
    text-transform: uppercase;

   &:before{
     content: '';
     position: absolute;
     left: 50%;
     bottom: 0;
     width: 50px;
     margin-left: -25px;
     border-bottom: 3px solid $site-color-1;
   }
    &.tal{
      text-align: left;
      &:before{
        left: 0;
        margin-left: 0;
      }
    }

    &.st2{
      margin-top: 36px;
    }
    @include mydevice(mobile) {
      font-size: 20px;
      margin-bottom: 24px;
    }
    @include mydevice(phone) {
      font-size: 16px;
    }
  }

  &__desc {
    text-align: center;
    margin-bottom: 48px;
  }
}
