// @font-face {
// font-family: 'Myriad Pro Regular';
// font-style: normal;
// font-weight: normal;
// src: local('Myriad Pro Regular'), url('../fonts/MYRIADPRO-REGULAR.woff') format('woff');
// }
// @font-face {
//   font-family: 'Material-Design-Iconic-Font';
//   src: url('../fonts/Material-Design-Iconic-Font.woff2?v=2.2.0') format('woff2'),
//   url('../fonts/Material-Design-Iconic-Font.woff?v=2.2.0') format('woff'),
//   url('../fonts/Material-Design-Iconic-Font.ttf?v=2.2.0') format('truetype');
//   font-weight: normal;
//   font-style: normal;
// }
// @mixin fonticon {
//   display: inline-block;
//   font: normal normal normal 14px/1 'Material-Design-Iconic-Font';
//   font-size: inherit;
//   text-rendering: auto;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
// }
// .zmdi{
//   @include fonticon;
// }
//
// .zmdi-eye-off:before {
//   content: '\f15b';
// }
// .zmdi-eye:before {
//   content: '\f15c';
// }
// .zmdi-filter-list:before {
//   content: '\f160';
// }
// .zmdi-chevron-left:before {
//   content: '\f2fa';
// }
// .zmdi-chevron-right:before {
//   content: '\f2fb';
// }
// .zmdi-chevron-down:before {
//   content: '\f2f9';
// }
// .zmdi-comment-text:before {
//   content: '\f263';
// }
// .zmdi-phone:before {
//   content: '\f2be';
// }
//
// .zmdi-tag-close:before {
//   content: '\f1d9';
// }
