/*!
* @package IcoFont
* @version 1.0.1
* @author IcoFont https://icofont.com
* @copyright Copyright (c) 2015 - 2019 IcoFont
* @license - https://icofont.com/license/
*/

@font-face
{

  font-family: "IcoFont";
font-weight: normal;
font-style: "Regular";
src: url("../fonts/icofont/fonts/icofont.woff2") format("woff2"),
url("../fonts/icofont/fonts/icofont.woff") format("woff");
font-display: swap;
}

[class^="icofont-"], [class*=" icofont-"]
{
  font-family: 'IcoFont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  line-height: 1;
/* Better Font Rendering =========== */
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

.icofont-500px:before
{
  content: "\ed1c";
}

.icofont-aim:before
{
  content: "\ed1d";
}

.icofont-badoo:before
{
  content: "\ed1e";
}

.icofont-baidu-tieba:before
{
  content: "\ed1f";
}

.icofont-bbm-messenger:before
{
  content: "\ed20";
}

.icofont-bebo:before
{
  content: "\ed21";
}

.icofont-behance:before
{
  content: "\ed22";
}

.icofont-blogger:before
{
  content: "\ed23";
}

.icofont-bootstrap:before
{
  content: "\ed24";
}

.icofont-brightkite:before
{
  content: "\ed25";
}

.icofont-cloudapp:before
{
  content: "\ed26";
}

.icofont-concrete5:before
{
  content: "\ed27";
}

.icofont-delicious:before
{
  content: "\ed28";
}

.icofont-designbump:before
{
  content: "\ed29";
}

.icofont-designfloat:before
{
  content: "\ed2a";
}

.icofont-deviantart:before
{
  content: "\ed2b";
}

.icofont-digg:before
{
  content: "\ed2c";
}

.icofont-dotcms:before
{
  content: "\ed2d";
}

.icofont-dribbble:before
{
  content: "\ed2e";
}

.icofont-dribble:before
{
  content: "\ed2f";
}

.icofont-dropbox:before
{
  content: "\ed30";
}

.icofont-ebuddy:before
{
  content: "\ed31";
}

.icofont-ello:before
{
  content: "\ed32";
}

.icofont-ember:before
{
  content: "\ed33";
}

.icofont-envato:before
{
  content: "\ed34";
}

.icofont-evernote:before
{
  content: "\ed35";
}

.icofont-facebook-messenger:before
{
  content: "\ed36";
}

.icofont-facebook:before
{
  content: "\ed37";
}

.icofont-feedburner:before
{
  content: "\ed38";
}

.icofont-flikr:before
{
  content: "\ed39";
}

.icofont-folkd:before
{
  content: "\ed3a";
}

.icofont-foursquare:before
{
  content: "\ed3b";
}

.icofont-friendfeed:before
{
  content: "\ed3c";
}

.icofont-ghost:before
{
  content: "\ed3d";
}

.icofont-github:before
{
  content: "\ed3e";
}

.icofont-gnome:before
{
  content: "\ed3f";
}

.icofont-google-buzz:before
{
  content: "\ed40";
}

.icofont-google-hangouts:before
{
  content: "\ed41";
}

.icofont-google-map:before
{
  content: "\ed42";
}

.icofont-google-plus:before
{
  content: "\ed43";
}

.icofont-google-talk:before
{
  content: "\ed44";
}

.icofont-hype-machine:before
{
  content: "\ed45";
}

.icofont-instagram:before
{
  content: "\ed46";
}

.icofont-kakaotalk:before
{
  content: "\ed47";
}

.icofont-kickstarter:before
{
  content: "\ed48";
}

.icofont-kik:before
{
  content: "\ed49";
}

.icofont-kiwibox:before
{
  content: "\ed4a";
}

.icofont-line-messenger:before
{
  content: "\ed4b";
}

.icofont-line:before
{
  content: "\ed4c";
}

.icofont-linkedin:before
{
  content: "\ed4d";
}

.icofont-linux-mint:before
{
  content: "\ed4e";
}

.icofont-live-messenger:before
{
  content: "\ed4f";
}

.icofont-livejournal:before
{
  content: "\ed50";
}

.icofont-magento:before
{
  content: "\ed51";
}

.icofont-meetme:before
{
  content: "\ed52";
}

.icofont-meetup:before
{
  content: "\ed53";
}

.icofont-mixx:before
{
  content: "\ed54";
}

.icofont-newsvine:before
{
  content: "\ed55";
}

.icofont-nimbuss:before
{
  content: "\ed56";
}

.icofont-odnoklassniki:before
{
  content: "\ed57";
}

.icofont-opencart:before
{
  content: "\ed58";
}

.icofont-oscommerce:before
{
  content: "\ed59";
}

.icofont-pandora:before
{
  content: "\ed5a";
}

.icofont-photobucket:before
{
  content: "\ed5b";
}

.icofont-picasa:before
{
  content: "\ed5c";
}

.icofont-pinterest:before
{
  content: "\ed5d";
}

.icofont-prestashop:before
{
  content: "\ed5e";
}

.icofont-qik:before
{
  content: "\ed5f";
}

.icofont-qq:before
{
  content: "\ed60";
}

.icofont-readernaut:before
{
  content: "\ed61";
}

.icofont-reddit:before
{
  content: "\ed62";
}

.icofont-renren:before
{
  content: "\ed63";
}

.icofont-rss:before
{
  content: "\ed64";
}

.icofont-shopify:before
{
  content: "\ed65";
}

.icofont-silverstripe:before
{
  content: "\ed66";
}

.icofont-skype:before
{
  content: "\ed67";
}

.icofont-slack:before
{
  content: "\ed68";
}

.icofont-slashdot:before
{
  content: "\ed69";
}

.icofont-slidshare:before
{
  content: "\ed6a";
}

.icofont-smugmug:before
{
  content: "\ed6b";
}

.icofont-snapchat:before
{
  content: "\ed6c";
}

.icofont-soundcloud:before
{
  content: "\ed6d";
}

.icofont-spotify:before
{
  content: "\ed6e";
}

.icofont-stack-exchange:before
{
  content: "\ed6f";
}

.icofont-stack-overflow:before
{
  content: "\ed70";
}

.icofont-steam:before
{
  content: "\ed71";
}

.icofont-stumbleupon:before
{
  content: "\ed72";
}

.icofont-tagged:before
{
  content: "\ed73";
}

.icofont-technorati:before
{
  content: "\ed74";
}

.icofont-telegram:before
{
  content: "\ed75";
}

.icofont-tinder:before
{
  content: "\ed76";
}

.icofont-trello:before
{
  content: "\ed77";
}

.icofont-tumblr:before
{
  content: "\ed78";
}

.icofont-twitch:before
{
  content: "\ed79";
}

.icofont-twitter:before
{
  content: "\ed7a";
}

.icofont-typo3:before
{
  content: "\ed7b";
}

.icofont-ubercart:before
{
  content: "\ed7c";
}

.icofont-viber:before
{
  content: "\ed7d";
}

.icofont-viddler:before
{
  content: "\ed7e";
}

.icofont-vimeo:before
{
  content: "\ed7f";
}

.icofont-vine:before
{
  content: "\ed80";
}

.icofont-virb:before
{
  content: "\ed81";
}

.icofont-virtuemart:before
{
  content: "\ed82";
}

.icofont-vk:before
{
  content: "\ed83";
}

.icofont-wechat:before
{
  content: "\ed84";
}

.icofont-weibo:before
{
  content: "\ed85";
}

.icofont-whatsapp:before
{
  content: "\ed86";
}

.icofont-xing:before
{
  content: "\ed87";
}

.icofont-yahoo:before
{
  content: "\ed88";
}

.icofont-yelp:before
{
  content: "\ed89";
}

.icofont-youku:before
{
  content: "\ed8a";
}

.icofont-youtube:before
{
  content: "\ed8b";
}

.icofont-zencart:before
{
  content: "\ed8c";
}

.icofont-xs
{
  font-size: .5em;
}

.icofont-sm
{
  font-size: .75em;
}

.icofont-md
{
  font-size: 1.25em;
}

.icofont-lg
{
  font-size: 1.5em;
}

.icofont-1x
{
  font-size: 1em;
}

.icofont-2x
{
  font-size: 2em;
}

.icofont-3x
{
  font-size: 3em;
}

.icofont-4x
{
  font-size: 4em;
}

.icofont-5x
{
  font-size: 5em;
}

.icofont-6x
{
  font-size: 6em;
}

.icofont-7x
{
  font-size: 7em;
}

.icofont-8x
{
  font-size: 8em;
}

.icofont-9x
{
  font-size: 9em;
}

.icofont-10x
{
  font-size: 10em;
}

.icofont-fw
{
  text-align: center;
  width: 1.25em;
}

.icofont-ul
{
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

.icofont-ul > li
{
  position: relative;
  line-height: 2em;
}

.icofont-ul > li .icofont
{
  display: inline-block;
  vertical-align: middle;
}

.icofont-border
{
  border: solid 0.08em #f1f1f1;
  border-radius: .1em;
  padding: .2em .25em .15em;
}

.icofont-pull-left
{
  float: left;
}

.icofont-pull-right
{
  float: right;
}

.icofont.icofont-pull-left
{
  margin-right: .3em;
}

.icofont.icofont-pull-right
{
  margin-left: .3em;
}

.icofont-spin
{
  -webkit-animation: icofont-spin 2s infinite linear;
  animation: icofont-spin 2s infinite linear;
  display: inline-block;
}

.icofont-pulse
{
  -webkit-animation: icofont-spin 1s infinite steps(8);
  animation: icofont-spin 1s infinite steps(8);
  display: inline-block;
}

@-webkit-keyframes icofont-spin
{
  0%
  {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100%
  {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes icofont-spin
{
  0%
  {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100%
  {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.icofont-rotate-90
{
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.icofont-rotate-180
{
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.icofont-rotate-270
{
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}

.icofont-flip-horizontal
{
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
  -webkit-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.icofont-flip-vertical
{
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  -webkit-transform: scale(1, -1);
  transform: scale(1, -1);
}

.icofont-flip-horizontal.icofont-flip-vertical
{
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  -webkit-transform: scale(-1, -1);
  transform: scale(-1, -1);
}

:root .icofont-rotate-90,
	:root .icofont-rotate-180,
	:root .icofont-rotate-270,
	:root .icofont-flip-horizontal,
	:root .icofont-flip-vertical
{
  -webkit-filter: none;
  filter: none;
  display: inline-block;
}

.icofont-inverse
{
  color: #fff;
}

.sr-only
{
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.sr-only-focusable:active,
	.sr-only-focusable:focus
{
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
